<%# [hyc-override] Partial to display language term instead of link %>
<%# @TODO This file changes significantly in Hyrax 3.0 %>
<dl>
  <% present_terms(@presenter, @presenter.terms_with_values) do |r, term| %>
    <div>
      <dt><%= r.label(term) %></dt>
      <% if term.to_s == 'language' %>
        <dd><%= language_links({ value: @presenter.language }) %></dd>
      <% else %>
        <dd><%= r.value(term) %></dd>
      <% end %>
    </div>
  <% end %>
</dl>