<%#  [hyc-override] Overriding hyrax default %>
<div class="featured-item-title">
    <span class="sr-only"><%= t('hyrax.homepage.featured_works.document.title_label') %></span>
    <%= link_to featured.title.first, [main_app, featured] %>
    <% if featured.member_of_collection_ids.length > 0 %>
      <p><strong>Collection:</strong> <%= Collection.find(featured.member_of_collection_ids.first).title.first %></p>
    <% end %>
</div>