<%#  [hyc-override] Overriding hyrax default %>
<% presenter = featured.presenter %>

<div class="col-xs-12 col-sm-3 is-featured">
  <%= render_thumbnail_tag presenter%>
  <%= render 'hyrax/homepage/featured_fields', featured: presenter %>
</div>