<%#  [hyc-override] Overriding hyrax default %>
<h2 class="sr-only"><%= t('hyrax.homepage.featured_works.title') %></h2>
<%= render partial: 'featured', collection: @featured_work_list.featured_works %>

