<%#  [hyc-override] Overriding hyrax default %>
<div class="featured-item-title">
  <span class="sr-only"><%= t('hyrax.homepage.featured_works.document.title_label') %></span>
  <%= link_to featured.title.first.truncate(100, separator: ' '), [main_app, featured], aria: {hidden: true} %>
</div>