<%# [hyc-override] https://github.com/samvera/hyrax/tree/hyrax-v4.0.0/app/views/hyrax/homepage/_featured.html.erb %>
<% presenter = featured.presenter %>

<%# [hyc-override] Display featured entries in a single row instead of on individual rows %>
<div class="col-xs-12 col-sm-3 is-featured" data-id="<%= presenter.id %>">
  <%= render 'hyrax/homepage/featured_fields', featured: presenter %>
</div>