<%# [hyc-override] Overriding partial in hyrax gem to add UNC text %>
<% if display_content_block? @marketing_text %>
  <div id="unc-text" class="home_marketing_text">
    <%= displayable_content_block @marketing_text %>
  </div>
<% end %>