<div id="unc-description">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1 col-md-3 col-sm-3 col-xs-12">
      <%= image_tag("access.png", :alt => t('hyrax.homepage_images.accessible')) %>
    </div>
    <div class="col-lg-8 col-md-9 col-sm-9 col-xs-12">
      <h2>Accessible &amp; Discoverable</h2>
      <p>We ensure your work is accessible and searchable on our website and indexed in search engines.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1 col-md-3 col-sm-3 col-xs-12">
      <%= image_tag("discover.png", :alt => t('hyrax.homepage_images.access')) %>
    </div>
    <div class="col-lg-8 col-md-9 col-sm-9 col-xs-12">
      <h2>You Decide Who Gets Access</h2>
      <p>We offer a range of access controls including embargoes and granting access to specific groups on campus.</p>
    </div>
  </div>
</div>