<div id="unc-description">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-11 col-sm-offset-1 col-sm-3">
      <%= image_tag("access.png", :alt => t('hyrax.homepage_images.accessible')) %>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6">
      <h2>Accessible &amp; Discoverable</h2>
      <p>We ensure your work is accessible and searchable on our website and indexed in search engines.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-11 col-sm-offset-1 col-sm-3">
      <%= image_tag("discover.png", :alt => t('hyrax.homepage_images.access')) %>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6">
      <h2>You Decide Who Gets Access</h2>
      <p>We offer a range of access controls including embargoes and granting access to specific groups on campus.</p>
    </div>
  </div>
</div>