sudo: false
dist: trusty
language: ruby
addons:
  apt:
    packages:
      - libclamav-dev
      - clamav
cache:
  - bundler: true
services:
  - redis-server
  - postgresql
rvm:
  - 2.4
before_script:
  - psql -c "create role hyrax with login password 'password';" -U postgres
  - bundle exec rake db:create
  - bundle exec rake hydra:test_server &
  - sleep 75
  - bundle exec rake test_setup RAILS_ENV=test
before_install:
  - gem update --system
  - gem install bundler
jdk:
  - oraclejdk8
env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
    - DEFAULT_ADMIN_SET='default'
    - HYRAX_DATABASE_PASSWORD='password'
