<%# To render this view pass `embargo_history` (e.g. `object: curation_concern.embargo_history`) %>
<%# [hyc-override] https://github.com/samvera/hyrax/blob/hyrax-v4.0.0/app/views/hyrax/embargoes/_embargo_history.html.erb %>
<%# [hyc-override] Add display text for no embargo history %>
<% if embargo_history.blank? %>
  <p><%= t('hyrax.base.show.no_embargo_history') %></p>
<% else %>
  <ul>
    <% embargo_history.each do |entry| %>
      <% unless entry.empty? %>
        <li><%= entry %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
