<%# [hyc-override] Overriding partial in hyrax gem to remove batch delete link %>
<div class="batch-info">
  <%= render 'hyrax/dashboard/collections/form_for_select_collection', user_collections: @user_collections %>

  <div class="batch-toggle">
    <% session[:batch_edit_state] = "on" %>

    <%= button_tag t('hyrax.dashboard.my.action.add_to_collection'),
                   class: 'btn btn-primary submits-batches submits-batches-add',
                   data: { toggle: "modal", target: "#collection-list-container" } %>
  </div>
</div>