<%# [hyc-override] Overriding to make only admins able to delete a fileset %>
<div class="form-actions">
  <% if Hyrax.config.analytics? %>
    <%# turbolinks needs to be turned off or the page will use the cache and the %>
    <%# analytics graph will not show unless the page is refreshed. %>
    <%= link_to t('.analytics'), @presenter.stats_path, id: 'stats', class: 'btn btn-secondary', data: { turbolinks: false } %>
  <% end %>

  <% if @presenter.editor? && !workflow_restriction?(@presenter) %>
    <%= link_to t(".edit_this", type: @presenter.human_readable_type), edit_polymorphic_path([main_app, @presenter]),
                  class: 'btn btn-secondary' %>
    <%# [hyc-override] Overriding to see if user can delete the work, to be able to delete the fileset %>
    <% work = Hyrax.custom_queries.find_parent_work(resource: @presenter) %>
    <% if can?(:destroy, work.id) %>
      <%= link_to t(".delete_this", type: @presenter.human_readable_type), [main_app, @presenter],
                  class: 'btn btn-danger', data: { confirm: t(".confirm_delete_this", type: @presenter.human_readable_type) },
                  method: :delete %>
    <% end %>
  <% end %>

  <%= render 'social_media' %>
</div>
