<div class="row">
  <div class="col-xs-12 main-header">
    <h1><span class="fa fa-edit"></span> New Admin Set Worktype</h1>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

    <%= render 'form', default_admin_set: @default_admin_set %>

  </div>
</div>
