<% if can? :read, :admin_dashboard %>
  <%= menu.nav_link(main_app.ingest_from_ftp_path, class: "nav-link") do %>
    <span class="fa fa-upload" aria-hidden="true"></span> <span class="sidebar-action-text">Ingest from FTP</span>
  <% end %>
  <%= menu.nav_link(main_app.default_admin_sets_path, class: "nav-link") do %>
    <span class="fa fa-archive" aria-hidden="true"></span> <span class="sidebar-action-text">Assign Admin Set Worktype</span>
  <% end %>
<% end %>