<%# [hyc-override] Add link to sidekiq %>
<% if can? :read, :admin_dashboard %>
  <%= menu.nav_link('/sidekiq', target: :_blank, class: "nav-link") do %>
    <span class="fa fa-area-chart" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.links.sidekiq') %></span>
  <% end %>
<% end %>