<%# [hyc-override] Overriding to hide withdrawn files %>
<%# [hyc-override] Style download link %>
<% if current_user&.admin? || !@presenter.respond_to?('workflow') || 
    (!@presenter.workflow.in_workflow_state?(['withdrawn', 'pending deletion']) &&
      file_set.embargo_release_date.blank? && display_media_download_link?(file_set: file_set)) %>
  <div class="no-preview">
    <%= t('hyrax.works.show.no_preview') %>
      <p /><%= link_to t('hyrax.file_set.show.download'),
        hyrax.download_path(file_set),
        id: "file_download",
        data: { label: file_set.id },
        class: "btn btn-info",
        target: "_new" %>
  </div>
<% end %>
