development:
  user: fedoraAdmin
  password: fedoraAdmin
  url: <%= ENV['FEDORA_DEV_URL'] || "http://127.0.0.1:#{ENV['FCREPO_DEVELOPMENT_PORT']}/fcrepo/rest" %>
  base_path: /dev
test:
  user: fedoraAdmin
  password: fedoraAdmin
  url: <%= ENV['FEDORA_TEST_URL'] || "http://127.0.0.1:#{ENV['FCREPO_TEST_PORT']}/fcrepo/rest" %>
  base_path: /test
production:
  user: fedoraAdmin
  password: fedoraAdmin
  url: <%= ENV['FEDORA_PRODUCTION_URL'] %>
  base_path: /prod
