---
# In production this is overridden by a template in the vagrant-rails project
:concurrency: 25
:queues:
  - default
  - derivatives
  - import
  - export
  - long_running_jobs
:logfile: ./log/sidekiq.log
:limits:
  derivatives: 1
  import: 1
  export: 1
  long_running_jobs: 1
