<h1 class="text-center">We can't find the page that you requested.</h1>
<p class="text-center" style="margin-top: 25px">Try searching in the box above, or visit our <%= link_to "homepage", root_path %></p>
