<%# [hyc-override] Guard clause to prevent rendering malformed facets %>
<%# Blacklight 7.24.0 %>
<%# Override app/views/catalog/facet.html.erb %>

<%= render Blacklight::System::ModalComponent.new do |component| %>
  <%# Prevent rendering if no index range or not an index facet %>
  <% unless @facet&.index_range && @display_facet&.index? %>
    <% return %>
  <% end %>

  <% component.title { facet_field_label(@facet.key) } %>

  <%= render partial: 'facet_index_navigation' %>

  <% if @display_facet.present? %>
    <div class="facet-extended-list">
      <%= render_facet_limit(@display_facet, layout: false) %>
    </div>
  <% end %>
