/* ...
 *= require jquery-ui
 *= require select2
 *= require_self
*/

@import "bootstrap-default-overrides";
@import 'bootstrap';
@import 'blacklight/blacklight';
@import "font-awesome";
@import "blacklight_gallery/gallery";
@import "blacklight_gallery/masonry";
@import "blacklight_gallery/slideshow";
@import "blacklight_gallery/osd_viewer";
@import "hyrax/blacklight_gallery";
@import 'hyrax/hyrax';

// [hyc-override] Custom CSS to show Remove button for first of type Location controlled vocabulary
.controlled_vocabulary {
    .listing {
      li:first-of-type {
        .remove {
          display: block;
        }
      }
    }
  }
  
