/** Homepage customizations **/
$carolina-blue-dark: #13294b;
$carolina-blue: #4b9cd3;
$text-color: white;
$light-gray: lightgray;

#masthead {
  background-color: $carolina-blue-dark;
  margin-bottom: 0;
}

.image-masthead {
  margin-bottom: 0;
  height: 225px;
}

#unc-search {
  background-color: $carolina-blue;
  height: 50%;
  padding-top: 15px;
  margin-right: 0;

  #search-form-header {
    margin-top: 25px;
    width: 85%;
  }

  input {
    height: 120%;
  }

  img {
    max-width: 55%;
    max-height: 55%;
    padding-left: 25px;
    padding-bottom: 15px;
  }
}

.container {
  width: 100%;
}

.link-tabs {
  background-color: $carolina-blue;

  ul {
    margin-bottom: 0;

    li {
      display: inline-block;
    }

    button {
      border: 1px outset $carolina-blue-dark;
      background-color: $carolina-blue-dark;
      height: 40px;
      &:hover {
        background-color: #1c4c80;
      }

      a {
        color: $text-color;
        &:hover {
          color: $light-gray;
        }
      }
    }
  }
}

#unc-text {
  color: $text-color !important;

  div {
    width: 65%;
    margin: 0 auto;
  }

  p {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
  }
}

#unc-deposit {
  background-color: $carolina-blue;
  color: $text-color;

  a {
    color: $text-color;
    font-weight: bold;
    &:hover {
      color: $light-gray;
    }
  }

  .unc-block {
    display: inline-block;
    margin-top: 25px;
  }

  i, div {
    margin-bottom: 15px;
  }
}

#unc-description {
  padding-top: 25px;

  &> div {
    margin-bottom: 50px;
  }

  img {
    max-width: 45%;
    max-height: 45%;
  }

  p {
    font-size: 1.15em;
  }
}

#unc-featured {
  background-color: #e4e4e4;
  border-image: linear-gradient(#fff, $light-gray) 100% 0 100% 0/10px 0 10px 0 stretch;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;

  div {
    margin-bottom: 25px;
  }

  img {
    max-width: 45%;
    max-height: 45%;
  }
}

.social {
  width: 100%;
  margin-top: 25px;

  ul {
    padding: 0 40%;

    li {
      display: inline-block;
      margin-right: 15px;
    }
  }
}

.site-footer, .social {
  height: 30px;
}

#unc-footer {
  background-color: $carolina-blue-dark;

  ul {
    text-align: center;

    li {
      display: inline-block;
      margin: -10px 0 0 15px;
      padding-right: 15px;
      border-right: 1px solid $text-color;

      &:last-child {
        border-right: none;
      }
    }
  }
}

@media only screen and (max-width: 830px) {
  #unc-footer {
    height: auto;
    margin-top: 15px;
    margin-bottom: 25px;

    ul li {
      padding-top: 10px;
      border-right: none;
    }
  }
}

@media only screen and (max-width: 480px) {
  #unc-text {
    div {
      width: 100%;
      height: auto;
    }
  }
  .social {
    height: auto;

    li {
      display: block;
    }
  }

  .site-footer {
    position: inherit;
  }

  #unc-footer {
    ul li {
      display: block;
      margin-top: 15px;
    }
  }
}