/** Homepage customizations **/
$carolina-blue-dark: #13294b;
$carolina-blue: #4b9cd3;
$text-color: white;
$light-gray: lightgray;
$shadow-base-top: 0 10px 10px -10px;
$shadow-base-bottom: 0 -10px 10px -10px;
$shadow-prefixed: inset $shadow-base-top #000, inset $shadow-base-bottom #000;
$shadow: inner $shadow-base-top #000, inner $shadow-base-bottom #000;
$description-shadow-prefixed: inset $shadow-base-top gray, inset $shadow-base-bottom gray;
$description-shadow: inner $shadow-base-top gray, inner $shadow-base-bottom gray;

@font-face {
  font-family: LibreBaskerville;
  src: url(asset-path("libre-baskerville/LibreBaskerville-Italic.otf")) format("opentype");
}

body {
  font-family: Verdana, Arial, sans-serif;
}

#logo {
  img {
    max-width: 20%;
    margin-top: -10px;
  }
}

span.institution_name {
  font-family: LibreBaskerville, sans-serif;

  a, a:hover, a:visited {
    color: $text-color;
    text-decoration: none;
  }
}

#masthead {
  background-color: $carolina-blue-dark;
  margin-bottom: 0;

  &+ nav {
    margin-top: 0;
  }

  .navbar-header {
    width: 65%;
  }
}

.image-masthead {
  margin-bottom: 0;
  height: 225px;
  -moz-box-shadow: $shadow-prefixed;
  -webkit-box-shadow: $shadow-prefixed;
  box-shadow: $shadow;
  border-bottom: 0;

  .background-container {
    -ms-filter: none;
    -webkit-filter: none;
    filter: none;
    box-shadow: 0 1px 10px #000c;
  }

  .background-container-gradient {
    background: none;
  }
}

#unc-search {
  background-color: $carolina-blue;
  height: 45%;
  padding-top: 15px;
  margin-right: 0;
  color: $text-color;

  .repo-name {
    font-family: LibreBaskerville, sans-serif;
    padding-left: 15px;
  }

  img.banner-img {
    max-width: 300px;
    max-height: 60%;
    padding-left: 15px;
  }

  .fa-arrow-circle-up {
    color: $text-color;
  }
}

.container {
  width: 100%;
  padding-right: 30px;
}

.link-tabs {
  background-color: $carolina-blue;

  ul {
    margin-bottom: 0;

    li {
      display: inline-block;
    }

    div {
      border: 1px outset $carolina-blue-dark;
      background-color: $carolina-blue-dark;
      height: 40px;
      padding:8px;
      &:hover {
        background-color: #1c4c80;
      }

      a {
        color: $text-color;
        &:hover {
          color: $light-gray;
          text-decoration: none;
        }
      }
    }
  }
}

#unc-text {
  color: $text-color !important;

  div {
    width: 65%;
    margin: 0 auto;
  }

  p {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
  }

  blockquote {
    border-left: none;
  }
}

#unc-deposit {
  background-color: $carolina-blue;
  color: $text-color;
  padding-left: 0;
  padding-right: 30px;

  a {
    color: $text-color;
    font-weight: bold;

    &:hover {
      color: $light-gray;
    }

    div {
      font-size: 21px;
    }
  }

  .unc-block {
    display: inline-block;
    margin-top: 25px;
  }

  i, div {
    margin-bottom: 15px;
  }
}

#unc-description {
  padding-top: 25px;

  .describe {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;

    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  img {
    max-width: 20%;
    max-height: 20%;
    margin: 0 0 0 5%;
  }

  p {
    font-size: 16px;
  }
}

#unc-featured {
  background-color: #f6f6f6;
  -moz-box-shadow: $description-shadow-prefixed;
  -webkit-box-shadow: $description-shadow-prefixed;
  box-shadow: $description-shadow;
  padding: 0 10px;

  .is-featured {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    justify-content: center;

    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;

    height: 200px;

    img {
      max-width: 200px;
      max-height: 175px;
    }

    .featured-author + p {
      margin-top: -10px;
    }
  }

  h2 {
    margin-bottom: 50px;
  }

  div {
    margin-bottom: 25px;
  }

  .featured-item-title {
    margin-top: 15px;
  }
}

.collections-browse {
  margin-bottom: 30px;
  font-size: 30px;
}

.social {
  width: 100%;
  margin-top: 25px;

  ul {
    padding: 0 40%;

    li {
      display: inline-block;
      margin-right: 15px;
    }
  }
}

div.person {
  margin-bottom: 2em;
}

.read-only {
  opacity: .4;
}

.read-only-note {
  margin-top: 25px;
  font-size: 2rem;
}

.site-footer, .social {
  height: 30px;
}

#unc-footer {
  background-color: $carolina-blue-dark;

  .navbar-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  ul {
    li {
      display: inline-block;
      margin: -10px 0 0 15px;
      padding-right: 15px;
      border-right: 1px solid $text-color;

      &:last-child {
        border-right: none;
      }
    }
  }
}

div.unc-modal {
  h4 {
    text-align: left;
  }

  .cite {
    margin: 0 15px;
    text-align: left;
  }

  ul {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid $light-gray;
  }
}

.creator-affiliates {
  display: inline-block;
}

.people-remove.multi_value.field-controls {
  margin-left: 0;
}

.people-remove {
  .remove {
    width: auto;
  }
}

.highlight-disabled {
  opacity: .65;
}

.mfa-child-works {
  text-align: center;
  font-size: 1.5em;
  padding: 10px 5px;
  margin: 0 15px 10px 15px;
}

.form-inline .date-input {
  width: 100%;
}

/* Hyrax override */
#content_block_page {
  margin: 0 15px;

  h1 {
    margin-bottom: 25px;
    text-align: center;
  }
}

.multi_value .btn.add {
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

.navbar-default .navbar-nav > li > a {
  color: #222222;

  &:focus, &:hover {
    color: #777777;
  }
}

#search-results {
  a:focus, button:focus {
    outline-color: #4b9cd3;
    border: 1.5px dashed #4b9cd3;
  }
}

.sidebar {
  background-color: #3f3f3f;
}

caption {
  color: #666666;
}

.fileupload-buttonbar, #fileupload p {
  padding-top: 5px;
  padding-left: 15px;
}

.dropzone {
  margin: 0 auto;
  width: 95%;
}

.file-upload-divider {
  height: 1px;
  width: 95%;
  background-color: #c0c0c0;
  margin: 40px auto;
}

div.fileupload-progress {
  height: 0;
}

.hidden-file-input {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Colors taken from Bootstrap's focus */
input.hidden-file-input:focus + label {
  outline: -webkit-focus-ring-color auto 5px;
  outline: #66afe9 auto 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

table p.name span {
  word-break: break-word;
  display: block;
}

.progress-bar-active {
  height: auto;
  overflow: auto
}

.well {
  margin: 15px auto;
}

.person-divider {
  height: 2px;
  border: none;
  color: #c0c0c0;
  background-color: #c0c0c0;
}

/* collections page */

.hyc-generic, .hyc-banner {
  border: 4px solid white;
  border-radius: 8px;

  .hyc-title {
    h1 {
      color: white;
      display: inline-block;
      font-size: 2.5em;
      margin: 0;
      padding: 0;
      text-shadow: 1px 2px 3px rgba(0,0,0,.5);
    }
  }

  .hyc-bugs {
    margin-top: 10px;
  }
}

.hyc-generic {
  .hyc-title {
    h1 {
      margin-left: 15px;
      margin-top: 15px;
    }
  }

  .hyc-logos {
    margin-left: 15px;
  }
}

.hyc-title {
  h1 {
    color: white;
  }
}

.hyc-bl-search {
  padding-right: 0;
}

.hyc-bl-title {
  margin-left: 0;
  margin-top: 15px;
  padding: 0;
}

.hyc-bl-results {
  ul {
    list-style-type: none;
    padding-left: 0;

    a {
      font-size: 16px;
    }
  }
}

.works {
  margin-left: 15px;

  .hyc-bl-results, .hyc-bl-sort {
    padding-left: 0;
  }
}

.more-metadata-btn {
  float: right;
  margin-right: 30px;
}

#collection-metadata-modal {
  div {
    margin-bottom: 10px;
  }

  dt {
    font-size: 18px;
    font-weight: normal;
  }
}

.sub-collection {
  padding-left: 0;
}

#sub-collection-list {
  font-size: 18px;
}

@media only screen and (max-width: 1600px) {
  #masthead {
    .navbar-header {
      width: 60%;
    }
  }
}

@media only screen and (max-width: 1375px) {
  #masthead {
    .navbar-header {
      width: 55%;
    }
  }

  .navbar-brand {
    padding: 10px 15px;
  }

  #logo {
    img {
      max-width: 30%;
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: 1225px) {
  #masthead {
    .navbar-header {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 1100px) {
  #masthead {
    .navbar-header {
      width: 40%;
    }
  }
  .navbar-brand {
    padding: 10px 15px;
  }

  span.institution_name {
    font-size: 12px;
  }

  dl.work-show {
    margin-left: 75px;
  }
}

@media only screen and (max-width: 950px) {
  #masthead {
    .navbar-header {
      width: 35%;
    }
  }

  #logo {
    img {
      max-width: 35%;
    }
  }
}

@media only screen and (max-width: 865px) {
  #logo {
    min-width: 300px;
  }

  #masthead {
    .navbar-header {
      margin-top: -5px;
      width: 25%;
    }
  }

  .navbar-brand {
    padding: 15px 15px;
  }

  span.institution_name {
    font-size: 10px;
  }

  #unc-footer {
    height: auto;
    margin-top: 15px;

    ul li {
      padding-top: 10px;
      border-right: none;
    }
  }

  #unc-featured {
    .is-featured {
      img {
        max-width: 175px;
      }
    }
  }

  #unc-text {
    div {
      width: 100%;
      height: auto;
      margin-top: -10px;
    }

    p {
      font-size: 1.05em;
    }
  }

  .social {
    margin-bottom: 15px;
  }

  /* Hyrax overrides */
  .fileinput-button {
    margin-bottom: .2em;
  }
}

@media only screen and (max-width: 800px) {
  #unc-description {
    .describe {
      display: block;
    }
    div {
      text-align: center;
    }

    img {
      max-width: 50%;
      max-height: 100%;
    }
  }

  #unc-featured {
    h2 {
      margin-bottom: 50px;
    }
  }

  #unc-search {
    .link-tabs {
      text-align: center;
    }
  }

  #masthead {
    .navbar-header {
      text-align: center;
      width: 100%;
    }
  }

  #logo {
    max-width: 75%;
  }

  span.institution_name {
    font-size: 12px;
  }

  .nav {
    padding-left: 15px;
  }

  #collection-description-text-btn {
    margin-bottom: 15px;
  }

  .hyc-body {
    margin: 0 auto;
  }

  .more-metadata-btn {
    float: left;
    margin-left: 15px;
    margin-right: 0;
  }

  #sub-collection-list {
    margin-left: 14px;
  }
}

@media only screen and (max-width: 480px) {
  .hyc-metadata {
    margin-left: 0;
  }

  #unc-description {
    text-align: center;
  }

  .link-tabs {
    div {
      margin-top: 5px;
    }
  }

  .hyc-title, .hyc-banner .hyc-title, .hyc-generic .hyc-title {
    h1 {
      margin-bottom: 15px;
      width: 100%;
    }
  }

  #unc-text {
    p {
      font-size: .9em;
    }
  }

  .social {
    height: auto;
    padding-bottom: 25px;

    li {
      display: block;
    }
  }

  .site-footer {
    position: absolute;
  }

  #unc-footer {
    ul li {
      display: block;
      margin-top: 5px;
    }
  }

  dl.work-show {
    margin-left: auto;
  }
}

.form-progress .form-group {
  margin-bottom: 0;
}
.form-progress .checkbox {
  margin-bottom: 0;
  margin-top: 0;
}
.form-progress .checkbox label {
  font-weight: bold;
}
