<%# [hyc-override] Overriding to make depositor a facet search and not link to user profile %>
<div class="tab-pane" id="proxies">
  <h2>Proxies</h2>
  <ul>
    <% @user.can_receive_deposits_from.each do |depositor| %>
      <%# [hyc-override] Overriding to make depositor a facet search and not link to user profile %>
      <li><%= link_to depositor.user_key, main_app.search_catalog_path(f: { depositor_ssim: [depositor.user_key]}) %></li>
    <% end %>
  </ul>

</div> <!-- /profile -->