<div id="logo" class="navbar-brand">
  <i class="fa fa-university" aria-hidden="true"></i>
  <span class="institution_name">Carolina Digital Repository</span>
</div>
<!-- Don't want default log
<a id="logo" class="navbar-brand" href="<%# hyrax.root_path %>" data-no-turbolink="true">
  <span class="glyphio-tuglyphicon-globe"></span>
  <span class="institution_name"><%# application_name %></span>
</a> -->