<%# [hyc-override] Overriding partial in hyrax gem to update homepage %>
<div id="logo" class="navbar-brand">
  <span class="institution_name">
    <a href="/"><%= image_tag("unc_libraries_logo.png", alt: t('hyrax.homepage_images.unc_libraries_logo')) %>
      Carolina Digital Repository</a>
  </span>
</div>
