<%# [hyc-override] https://github.com/samvera/hyrax/tree/hyrax-v4.0.0/app/views/_logo.html.erb %>
<%# [hyc-override] Note: this file is intentionally completely different from the original version %>
<div id="logo" class="navbar-brand">
  <span class="institution_name">
    <a href="/"><%= image_tag("unc_libraries_logo.png", alt: t('hyrax.homepage_images.unc_libraries_logo')) %>
      Carolina Digital Repository</a>
  </span>
</div>
