name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      ALLOW_NOTIFICATIONS: true
      CLAMD_TCP_HOST: 'localhost'
      CLAMD_TCP_PORT: '3310'
      DATABASE_AUTH: true
      DATACITE_PASSWORD: 'datacitepass'
      DATACITE_PREFIX: '10.5077'
      DATACITE_USER: 'test-datacite-user'
      DATACITE_USE_TEST_API: 'true'
      DATA_STORAGE: ./public
      DEFAULT_ADMIN_SET: 'default'
      DELETED_PEOPLE_FILE: ./tmp/deleted_people.txt
      DOI_PREFIX: '10.17615'
      EMAIL_FROM_ADDRESS: 'hyraxapp@example.com'
      FCREPO_TEST_PORT: 8080
      HYRAX_DATABASE_PASSWORD: 'password'
      HYRAX_HOST: 'https://example.com'
      NOKOGIRI_USE_SYSTEM_LIBRARIES: true
      RACK_ENV: test
      RAILS_ENV: test
      SOLR_TEST_PORT: 8983
      SSO_LOGIN_PATH: '/Shibboleth.sso/Login'
      SSO_LOGOUT_URL: 'https://shibboleth.example.com/idp/logout.jsp'
      TEMP_STORAGE: ./public
    services:
      fedora:
        image: samvera/fcrepo4:4.7.5
        ports:
          - 8080:8080
        env:
          CATALINA_OPTS: "-Djava.awt.headless=true -Dfile.encoding=UTF-8 -server -Xms512m -Xmx1024m -XX:NewSize=256m -XX:MaxNewSize=256m -XX:PermSize=256m -XX:MaxPermSize=256m -XX:+DisableExplicitGC"
      redis:
        image: redis
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379
      postgres:
        image: postgres
        env:
          POSTGRES_USER: hyrax
          POSTGRES_PASSWORD: password
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
        ports: ["5432:5432"]
      solr:
        image: solr:6.6
        ports:
          - 8983:8983
        options: >-
          --name solr_container
      clamavd:
        image: lokori/clamav-java
        ports:
          - 3310:3310
        volumes:
          - /tmp:/tmp

    strategy:
      matrix:
        ruby-version: ['2.6.7']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
    # change this to (see https://github.com/ruby/setup-ruby#versioning):
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Update rubygems
      run: |
        gem update --system 3.0.3.1
        gem install bundler:2.1.4

    # Run Rubocop as soon as gems are installed, so we fail early if there are issues
    - name: Run RuboCop
      run: bundle exec rubocop --parallel --config .rubocop.yml

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Install OS packages
      run: |
        sudo apt-get update
        sudo apt-get install unzip imagemagick ghostscript libpq-dev

    - name: Setup test database
      env:
        RAILS_ENV: test
        PGHOST: localhost
        PGUSER: hyrax
        # Variable needs to be PGPASSWORD so postgres cli can read it.
        # Variable is supposedly deprecated in postgres, but can't find the notice in postgres docs
        PGPASSWORD: password
      run: |
        psql -c 'create database hyrax_test with owner hyrax;'

    - name: Copy solr config into docker container
      run: docker cp solr/config solr_container:/tmp/solr_config

    - name: Create Solr core
      run: docker exec solr_container solr create -c hydra-test -d /tmp/solr_config

    - name: Setup hyrax test environment
      run: |
        bundle exec rake test_setup RAILS_ENV=test

    - name: Run rspec tests
      run: bundle exec rspec
      env:
        REDIS_URL: redis://redis
        POSTGRES_USER: hyrax
        POSTGRES_PASSWORD: password
        TMPDIR: /tmp
