<%# [hyc-override] Overriding partial in hyrax gem. We don't want this displayed to the user %>
<!--
<h1 class="work-type-tag">
  <span class="<%# Hyrax::ModelIcon.css_class_for(presenter.model) %>" aria-hidden="true"></span>
  <%# presenter.human_readable_type %>
</h1> -->